@model IEnumerable<InAndOut.Models.Expense>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Expense Items List</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="Expense" asp-action="Create">Create new Expense</a>
        </div>
    </div>
    <br />

    @if (Model.Any())
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>Expense Name</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="30%">@item.ExpenseName</td>
                        <td width="30%">@item.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Expense created yet</p>
    }
</div>
